@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "tailwindcss";

@theme {
  /* light mode default */
  --color-bg-dark: hsl(0, 0%, 90%);
  --color-bg: hsl(0, 0%, 95%);
  --color-bg-light: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 5%);
  --color-text-muted: hsl(0, 0%, 30%);
  --color-border: hsl(0, 0%, 90%);
  --color-accent: hsl(240, 100%, 40%);
  --color-accent-hover: hsl(240, 100%, 45%);
  --color-accent-text: hsl(0, 0%, 95%);

  /* font */
  --font-mono: "DM Mono", monospace;

  /* toast colors */
  --color-error-bg: hsl(1, 79%, 45%, 0.75);
  --color-error-border: hsl(1, 79%, 45%);
  --color-success-bg: hsl(140, 90%, 45%, 0.75);
  --color-success-border: hsl(140, 90%, 45%);
  --color-warning-bg: hsl(24, 100%, 55%, 0.75);
  --color-warning-border: hsl(24, 100%, 55%);
  --color-neutral-bg: hsl(225, 72%, 53%, 0.75);
  --color-neutral-border: hsl(225, 72%, 53%);
  --color-toast-text: hsl(0, 0%, 95%);
}

body {
  background-color: var(--color-bg-dark);
}

.dark {
  /* dark mode toggle */
  --color-bg-dark: hsl(0, 0%, 5%);
  --color-bg: hsl(0, 0%, 15%);
  --color-bg-light: hsl(0, 0%, 30%);
  --color-text: hsl(0, 0%, 95%);
  --color-text-muted: hsl(0, 0%, 70%);
  --color-border: hsl(0, 0%, 35%);
  --color-accent: hsl(240, 75%, 30%);
  --color-accent-hover: hsl(240, 100%, 35%);
  --color-accent-text: hsl(0, 0%, 95%);
}
